
<div>
    <a href='/profile'>Home</a>
    <a href='/product'>Add Product</a>
    <a href="/friends">Friends</a>
    <a href="/chat">Chat</a>
    <a href="/request" id='request'>Requests</a>
    <form action='/search' method="GET">
        <input type='text' name='name' placeholder="Enter NAME for Search">
        <button>Search</button>
    </form>
    <form action="/logOut" method="POST">
        <button>Log Out</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let x=requser.dataset.id
    const socket=io.connect('http://localhost:8080')
    socket.emit('joined',{id:x})
    socket.emit('startReq',{id:x})
    console.log(x)
</script>