{{>menu}}
<span id='sp' data-id={{userId}}></span>
{{#if arr}}
    <div style="display: flex;">
        {{#each arr}}
            <div style='border:1px solid black'>
                <p>{{name}} {{surname}} {{email}} <button  class='a1' data-fid={{id}} >+</button></p>
            </div>
        {{/each}}
    </div>
{{/if}}
<div id='messages'>

</div>
<div style='display:none' id='textArea'>
    <textarea id='text' style='resize:none;width:100px;height:20px'></textarea>
    <button id='sendMsg'>Send</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let x=sp.dataset.id;
    console.log(x)
    let fid=null
    let close=false
    let arr=document.querySelectorAll('.a1')
    for(let a of arr){
        a.addEventListener('click',(e)=>{
            console.log(e.target.dataset.fid)
            socket.emit('start',{id:x,fid:e.target.dataset.fid})
            fid=e.target.dataset.fid
            socket.on('getMess',(res)=>{
                messages.innerHTML="";
                for(let e of res){
                    let p=document.createElement('p')
                    p.innerHTML=e.message;
                    messages.append(p)
                }
            })
            textArea.style.display='block'
        })
    }
    const soket=io.connect('http://localhost:8080')
    console.log('--------------------',soket)
    soket.emit('joined',{id:x})
    
    sendMsg.addEventListener('click',()=>{
        console.log(text.value);
        if(fid){
            soket.emit('newMess',{text:text.value,id:x,fid:fid});
            text.value=null;
        }
    })
</script>