{{>menu}}
{{#if arr}}
    {{#each arr}}
        <p>{{name}} {{surname}} {{email}}</p>
        <form action='/deleteFr?id={{id}}' method="POST">
            <button>X</button>
        </form>
    {{/each}}
{{/if}}