<h1>Log in</h1>
<a href='/register'>Register</a>
<form action="/login" method="POST">
    <input name='username' type='email' placeholder="input your email"/>
    <input name='password' type='password' placeholder="input your password"/>
    <button>Log in</button>
</form>
{{#if ob}}
    <p>{{ob}}</p>
{{/if}}