<a href='/profile'>BACK</a>
<div>
    <form action='/addProd' method="POST" enctype="multipart/form-data">
        <input type='text' placeholder="Enter Name" name='name' />
        <input type='number' placeholder="Enter Price" name='price' />
        <input type='number' placeholder="Enter Count" name='count' />
        <input type='text' placeholder="Enter Description" name='description' />
        <input type='file' placeholder="Enter Image" name='image'/>
        <button>Add Product</button>
    </form>
    <div style="display: flex;">
        {{#if arr}}
            {{#each arr}}
                <div style='border:1px solid black'>
                    <p>{{this.dataValues.name}}</p>
                    <p>{{this.dataValues.price}}</p>
                    <p>{{this.dataValues.count}}</p>
                    <p>{{this.dataValues.description}}</p>
                    <img src='http://localhost:8080/img/{{this.dataValues.image}}' width="100">
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>