{{>menu}}
<h1>Profile</h1>
<form action="/picUrl" method="post" enctype="multipart/form-data">
    <input type="file" name='picture'/>
    <button>Add Image</button>
</form>
{{#if user.image}}
    <img src='http://localhost:8080/img/{{user.image}}' width="100"/>
{{/if}}
<p>{{user.name}} {{user.surname}} {{user.age}}</p>
<p>{{user.email}}</p>
<div style="display: flex;">
    {{#if arr}}
        {{#each arr}}
            <div style='border:1px solid black'>
                <p>{{this.dataValues.name}}</p>
                <p>{{this.dataValues.price}}</p>
                <p>{{this.dataValues.count}}</p>
                <p>{{this.dataValues.description}}</p>
                <img src='http://localhost:8080/img/{{this.dataValues.image}}' width="100">
            </div>
        {{/each}}
    {{/if}}
</div>