<h1>Registration</h1>
<a href='/'>Login</a>
<form action="/usReg" method="post">
    <input name='name' type='text' placeholder="input your name"/>
    <input name='surname' type='text' placeholder="input your surname"/>
    <input name='email' type='email' placeholder="input your email"/>
    <input name='age' type='number' placeholder="input your age"/>
    <input name='password' type='password' placeholder="input your password"/>
    <button>Register</button>
</form>
{{#if ob}}
    <p>{{ob.name}}</p>
    <p>{{ob.surname}}</p>
    <p>{{ob.age}}</p>
    <p>{{ob.email}}</p>
{{/if}}
{{#if succ}}
<p>{{succ}}</p>
{{/if}}
{{#if err}}
    <p>{{err}}</p>
{{/if}}