{{>menu}}
<div id='requser' data-id={{userId}}>
    
</div>
<div id='req' data-id={{userId}}>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let x=requser.dataset.id
    const socket=io.connect('http://localhost:8080')
    socket.emit('joined',{id:x})
    socket.emit('startReq',{id:x})
    console.log(x)
    socket.on('getReq',(res)=>{
        if(res.length>0){
            for(let e of res){
                let d=document.createElement('div');
                let p=document.createElement('p')
                p.innerHTML=`${e.name} ${e.surname} ${e.email}`
                let b1=document.createElement('button')
                b1.innerHTML='V'
                let b2=document.createElement('button')
                b2.innerHTML='X'
                d.append(p,b1,b2)
                b1.addEventListener('click',()=>{
                    socket.emit('acceptReq',{id:e.id})
                    location.reload()
                })
                b2.addEventListener('click',()=>{
                    socket.emit('cancelReq',{id:e.id})
                    location.reload()
                })
                requser.append(d)
            }
        }else{
            let p=document.createElement('p')
            p.innerHTML='You Dont Have Any Requests'
            requser.append(p)
        }
    })
</script>