{{>menu}}
<div style='display:flex'>
    {{#if arr}}
        {{#each arr}}
            <div style='border:1px solid black'>
                <p>{{name}} {{surname}} {{age}}</p>
                {{#if isFriend}}
                    <form>
                        <button>Go to Friends</button>
                    </form>
                {{else}}
                    <form action="/addFriend" method="POST">
                        <button value={{id}} name='id'>Add Friend</button>
                    </form>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <p>THERE IS NO MAN WITH THAT NAME</p>
    {{/if}}
</div>